@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="home-container">
        <video autoplay muted loop id="background-video">
            <source src="https://cldv6212st10265742.blob.core.windows.net/background/background.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="overlay">
            <div class="content text-center">
                <h1>ABC Retail</h1>
                <p>Smart Storage. Seamless Shopping. Scalable Solutions</p>
                <a asp-controller="Customer" asp-action="Index" class="btn btn-primary btn-lg">
                    Customer Profiles
                </a>
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary btn-lg">
                    Product Information
                </a>
            </div>
        </div>
    </div>
</div>