.confirmation-container {
    background-color: white;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-order-container {
    max-width: 1000px;
    width: 90%;
    height: 400px;
    background-color: white;
    color: black;
    padding: 40px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.confirm-header {
    font-size: 20px;
}

.confirm-subheader {
    font-size: 14px;
}

.confirm-order-container img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    flex-direction: column; /* stack buttons vertically */
    gap: 12px; /* space between buttons */
    margin-top: 20px;
    align-items: center;
}

    .button-group .order-btn {
        background-color: #70aa93;
        color: white;
        border: none;
        padding: 12px 24px;
        font-weight: bold;
        cursor: pointer;
        width: 200px;
        text-decoration: none;
    }

    .button-group .shop-btn {
        background-color: white;
        color: #70aa93;
        border: none;
        padding: 12px 24px;
        font-weight: bold;
        cursor: pointer;
        width: 200px;
        text-decoration: none;
    }
