.search-section {
    background-color: #70aa93;
    padding: 12px 0;
}

.search-box {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

    .search-box input {
        flex: 1;
        border: none;
        padding: 8px 10px;
        padding-left: 20px;
        border-radius: 2px 0 0 3px;
        font-size: 12px;
        box-sizing: border-box;
    }

    .search-box button {
        background-color: #4d4d4f;
        color: white;
        border: none;
        padding: 0 15px;
        border-radius: 0 3px 3px 0;
        font-size: 16px;
    }

.category-bar {
    background-color: #70aa93;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
    top: 5px;
}

    .category-bar a {
        flex: 1;
        text-align: center;
        color: #333;
        background-color: #ededed;
        padding: 2px 20px;
        border-right: 1px solid #ccc;
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        transition: all 0.2s;
        max-width: 143px;
    }

        .category-bar a:hover {
            background-color: #e2e6ea;
        }