.promo-section {
    position: relative;
    background-color: #ffffff;
    height: 200px;
    overflow: hidden;
    max-width: 1000px;
    margin: 15px auto 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .promo-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

.carousel-item {
    transition: opacity 0.8s ease-in-out;
}

.carousel-inner {
    border-radius: 4px;
}

.latest-products {
    color: #4d4d4f;
    font-size: 16px;
    font-weight: 500;
    max-width: 1000px;
    margin: 0 auto 15px auto;
    padding: 0px;
    height: 150px
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}

.slider-track {
    display: flex;
    transition: transform 0.4s ease;
}

.slide {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

.promo-img-container {
    position:relative;
    bottom: 10px;
    width: 150px !important;
    height: 100px !important;
}

.product-section {
    background-color: #f4f4f4;
    height: 80vh;
    margin: 0 auto;
    border: 1px solid #f4f4f4;
    padding: 0px;
}

    .product-section .promo-product-1 {
        color: #4d4d4f;
        font-size: 18px;
        font-weight: 500;
        max-width: 1000px;
        margin: 15px auto 15px auto;
        padding: 0px;
    }

.product-slider-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto 0px auto;
    overflow: hidden;
}

.product-slider {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

    .product-slider::-webkit-scrollbar {
        display: none;
    }

.product-card {
    flex: 0 0 auto;
    height: 300px;
    width: 188px;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

    .product-card:hover {
        box-shadow: 0 8px 20px #f4f4f4;
    }

    .product-card img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        position: relative;
        top: 10px;
    }

.product-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    text-align: left;
}

    .product-info h3 {
        font-size: 14px;
        color: #333;
        line-height: 1.2;
        margin: 0;
        height: auto;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.product-brand {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.product-price {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.product-btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 50%;
    z-index: 2;
}

    .product-btn:hover {
        background: rgba(0, 0, 0, 0.8);
    }

.product-prev {
    left: 10px;
}

.product-next {
    right: 10px;
}